.form-container{
    position: absolute;
    top: 12vh;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;

}
.text-center{
    text-align: center;
}

.select{
    padding: 8px 12px;
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;

}

.select:focus,
.select:hover{
    outline: none;
    border: 1px solid #bbbbbb;

}
.select:option{
    background: #ffffff;
}
